*{
    margin: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    

}

.common-margin{
    max-width: 1600px;
    margin: auto;
}
.nav-mid-text{
    font-family: "Arimo", sans-serif;
    color: rgb(235, 235, 235);
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 20px; 
}
nav a {
    text-decoration: none;
    color: #575757;
}
/* common button sob khane use korar jonne */
.cmn-btn{
    padding: 15px 10px;
    color: white;
    background-color:#1D4ED8 ;
    font-weight: 700;
    font-size: large;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    
}
.cmn-btn:hover{
    background-color: #1a48c7;
    color: rgb(235, 235, 235);
    margin-top: 10px;
    padding: 16px 12px;
    /* hover korle puro site nore jay */
}
.big-section-banner{
    background-image:linear-gradient( 
    90deg,   
    rgba(0,0,0,.9) 0%,
    rgba(0,0,0,.3) 50%,
    rgba(0,0,0,0) 75%),
    url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    background-position: center;
    width: 100%;
    min-height: 87vh;
    padding: 20px;
  
main section div h1, p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.h1-style{
    font-size: 64px;
    padding: 100px 0px 20px 0px; ;
    font-family: "Inter", sans-serif;
}
 .p-style{
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-align: center;
 }  
 .btn-align-size{
     /* display: flex !important;
    align-items: center !important;
    justify-content: center !important; */
    display: block;
    margin: 450px auto 0px auto ; 
    padding: 15px 40px 15px !important;
    outline: none;
    border: none;
    
 } 
  .btn-align-size:hover{
    margin: 450px auto 0px auto ; 
    padding: 16px 41px 16px !important;
  }

